// .headerDiv{
// 	position:fixed;
// }

.navBar{
	position: fixed;
	background-color:#EBCA97;
	margin-right:10px;
	height:34px;
	border-radius:5px;
}

.linkClass{
	text-decoration: none;
	margin-right: 5px;
	color:white;
	border-radius:0px;
	margin-top:3px;
	float:right;
	font-size:12pt;
}

.searchButton{
	margin-left: 9px;
	width: 100px;
	background-color:#EBCA97;
	color: white;
}